.blinking-cursor::after {
  content: "|";
  width: 5px;
  height: 20px;
  font-weight: 100;
  font-size: 16px;
  width: fit-content;
  display: inline-block;
  color: #dbfff8;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink steps(2) infinite;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: #dbfff8;
  }
}

@-moz-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: #dbfff8;
  }
}

@-webkit-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: #dbfff8;
  }
}

@-ms-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: #dbfff8;
  }
}

@-o-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: #dbfff8;
  }
}
