@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@tailwind base;

@tailwind components;

@tailwind utilities;



@font-face {
  font-family: "GT-Flexa-Bold";
  src: url("./assets/fonts/GT-Flexa/GT-Flexa-Mono-Bold-Trial.otf") format("opentype");
  font-weight: bold;
  }
@font-face {
      font-family: "GT-Flexa";
      src: url("./assets/fonts/GT-Flexa/GT-Flexa-Mono-Light-Trial.otf") format("opentype");
      font-weight: light;
      }
@font-face {
          font-family: "GT-Flexa-Itals";
          src: url("./assets/fonts/GT-Flexa/GT-Flexa-Mono-Regular-Italic-Trial.otf") format("opentype");
          font-weight: normal;
          }
@font-face {
              font-family: "Kaldera";
              src: url("./assets/fonts/Kaldera/Kaldera.otf") format("opentype");
              font-weight: bold;
              }


a{
  text-decoration: none;
  color: #dbfff8;
}

div .grayscale{

  filter: saturate(0);

}
/* Scroll bar */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #dbfff8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #dbfff8;
}

body {

background-color: black;
  margin: 0;
  padding: 0;

}
/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
} */
/* .logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */
